* {
    text-decoration: none;
    list-style-type: none;
    color: var(--texto2);
    margin: 0;
    scroll-behavior: smooth;
 }

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #000;
}

.logo {
    width: 20%;
    display: flex;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5vw;
    font-size: 20px;
}

header nav ul li a{
    color: #fff;
}

header .icons{
    width: 25%;
    gap: 5vw;
}

header li:hover, li a:hover {
    color: var(--texto1);
    text-decoration: none;
}

header:hover {
    background-color: var(--bg);
}

header .icons img {
    height: 35px;
    margin-right: 20px;
}


/* Section apresentacao */
main {
    display: flex;
    justify-content: center;
}

.apresentacao {
    height:380px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blo1{
    width:20%;
    text-align: center;
}

h1 {
    color:var(--texto2);
    font-size: 2.5vw;
    margin: 10px 0;
}

.textH1{
    color:#9b9595;
    font-size: 1.3rem;
}

.blo2{
    height:100%;
    width:17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blo2 img{
   width: 370px;
}

.blo3{
    width:20%;
    text-align: center;
}


/* Seção de artigos */
.secArticlo{
    background:#e7e7e7;
    height:360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2{
    margin-bottom: 0;
}

.algunsProjetos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artClass{
    width:1100px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.art{   
    width:30%;
    background:#c7c7c7;
    height:275px;
    margin-left: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

figure{
    width:75%;
    height:150px;
}

.pj{
    font-size: 20px;
    font-family:Verdana;
    color: var(--texto2);    
}

figure.fig1{
    background-image: url("../img/github.jpg");
    background-size: cover;    
}

figure.fig2{
    background-image: url("../img/linkedin2.png");
    background-size: cover;
}

figure.fig3{
    background-image: url("../img/behance2.png");
    background-size: cover;
}

h3 a{
    color:#686363;
    text-decoration: none;
}

a:hover{
    color:var(--bg); 
}

article span{
    color:#9b9595;
    display: inline-block;
    width: 55%;
}


/* Seção Projetos */
section.projetos {
    display: flex;
    flex-direction: column;
    width: 90%;
}

article.projeto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    height: 610px;
}

.projetoPortfolio {
    width: 100%;
    height: 40px;
    text-align: center;
    color: var(--texto2);
    background-color: var(--bg);
    color: #fff;
    display: flex;
    align-items: center;
}

.projetoPortfolio h2{
    color: #fff;
}

.projeto .projetoTitulo {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--texto2);
}

.projeto .projetoDescricao {
    width: 35%;
    height: 570px;
    font-size: 21px;
    color: var(--texto1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projeto .projetoDescricao h2 {
    width: 100%;
}


.projeto .projetoDescricao h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}


.projeto .projetoDescricao ul{
    font-size: 15px;
    margin-bottom: 5px;
    padding: 0;
    gap: 10px; 
    margin-left: 0;
}

.projeto .projetoDescricao ul li{
    margin-bottom: 10px;
}

.projetoDescricaoAPI {
    display: inline-block;
    position: relative;
    bottom: 40px;
}

.projeto .projetoImagem {
    width: 47%;
    height: auto;
}

.projeto .projetoImagem h2{
    text-align: center;
    font-size: 20px;
}

.projeto .projetoImagem .img{
    height:400px;
    background-image: url("../img/seuFilme.jpg");
    background-size: cover;
    margin-top: 10px;
}

.projeto.projeto-reverse {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--blocos1);
    height: 550px;
}

.projeto .projetoImagem.im2 .img{
    height:400px;
    background-image: url("../img/apiRest.png");
    background-size: cover;
    margin-top: 10px;
}

.projeto.secaoReact{
    height: 530px;
}


.projeto .projetoImagem.im3 .img{
    height: 400px;
    background-image: url("../img/reactTimer.png");
    background-size: contain;
    background-position: center;
    margin-top: 10px;
    background-repeat: no-repeat;
}


/* Seção sobre */
#sobre{
    height:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--blocos1);   
}

.pjSobre{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: #fff;
    margin-bottom: 20px;
}

#sobre h2{
    color:#9b9595;
    font-size:36px;
    text-align: center;
    justify-content: center;
    margin:0;
}

.sob1{
    width:50%;
    height: 400px;
    text-align: center;
    position: relative;
    bottom:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sob1 p{
    font-size:16px;
    color:#686363;
}

.sob2{
    width:35%;
    display: flex;
    justify-content: flex-end;
}

figure.imgSob{
    height:400px;
    background-image: url("../img/sobre.png");
    background-size: cover;
}

figure.imgCont{
    height:400px;
    background-image: url("../img/contato.png");
    background-size: contain;
    background-repeat: no-repeat;
}



/* Seção contatos */
#contato{
    height:550px;
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
}

.contTitulo{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: #fff;
    margin-bottom: 20px;
}

.bCont1{
    display: flex;
    order:1;
    flex-wrap: wrap;
    justify-content: center;
    color:#9b9595;
}

#contato ul{
    color:#9b9595;
    display: flex;
    flex-direction: column;
}

#contato ul li img{
    width:30px;
    position:relative;
    bottom:7px;
}

#contato ul li{
    padding:15px;
    width:150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Rodapé */
footer{
    width: 100%;
    background: #5a5a5a;
    height:40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    color: #c9c9c9;
    position: relative;
    left: 37%;
}