
/* RESPONSIVO 0px - 1080px */

@media (max-width: 1024px) {

    * {
        margin: 0;
        box-sizing: border-box;   
    }

    header {
        flex-direction: row;
        height: auto;
        padding: 10px 10px;
        gap: 5px;
        justify-content: center;
    }

    header .logo img {
        width: 100%;
    }

    header nav {
        width: 100%;
        display: none;
    }

   /*  header nav ul {
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
    } */

    header .icons {
        width: 75%;
        display: flex;
        justify-content: center;
    }

    /* Apresentação */
    .apresentacao {
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 20px;
        padding: 20px 0;
    }

    .blo1, .blo2, .blo3 {
        width: 90%;
    }

    .blo2 img {
        width: 200px;
    }

    h1 {
        font-size: 25px;
    }

    .textH1 {
        font-size: 18px;
    }

    /* Artigos */
    .secArticlo {
        height: auto;
        /* padding: 30px 13px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .algunsProjetos .pj{
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }

    .artClass {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .art {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .artClass span {
        position: relative;
        bottom: 13px;
    }

    /* Projetos */

    section.projetos {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .projetoPortfolio {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        color: var(--texto2);
        background-color: var(--bg);
        color: #fff;
        display: flex;
        align-items: center;
    }

    article.projeto {
        flex-direction: column;
        display: flex;
        height: auto;
        width: 100%;
        justify-content: space-around;
        margin: 0;
    }

   .projetoTitulo h2 {
        margin-top: 10px;
    }

    .projeto .projetoDescricao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0 10px;
        height: auto;
    }

    .projeto .projetoImagem {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 100%;
        justify-content: center;
        justify-content: center;
    }

     .projeto .projetoImagem a {
        display: flex;
        justify-content: center;
    }

    .projeto.projeto-reverse {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--blocos1);
    height: auto;
    width: 100%;
    }

    .projeto .projetoImagem.im2 .img{
    height:400px;
    background-image: url("../img/apiRest.png");
    background-size: cover;
    margin-top: 10px;
    }

    .projetoDescricaoAPI {
    display: inline-block;
    position: relative;
    bottom: 0px;
    }

    .projeto.secaoReact {
    height: auto;
    }

    .projetoImagem.im3 h2{
        position: relative;
        top:10px;
    }

    .projeto .projetoImagem.im3{
    height: auto;
    background-image: url("../img/reactTimer.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1vw;
    }

    .projeto .projetoImagem.im3 .img{
    height: 260px;
    
}

   /* SOBRE */
    #sobre {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .sob1, .sob2 {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .sob1 h4 {
        margin: 10px 0;
    }

    figure.imgSob {
        height: 250px;
    }

    /* CONTATO */
    #contato {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .bCont1 h2 {
        font-size: 16px;
        margin: 5px 0;
        display: none;
    }

    .bCont1 ul{
        color: #9b9595;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0 0 0;
        padding: 0;
    }

    figure.imgCont {
        height: 250px;
        display: none;
    }

    /* FOOTER */
    footer {
        display: flex;
        justify-content: center;
    }

    footer p {
    position: relative;
    left: 0;
    font-size: 13px;    
    }
}